.home_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 4%;
    gap: 1px;
    /* Adjust the gap between cards */
}

.card {
    min-width: calc((100% - 240px) / 3);
    /* Ensure minimum width for each card */
}

@media screen and (max-width: 1200px) {
    .card {
        min-width: calc((100% - 40px) / 3);
        /* Three cards in a row on screens up to 1200px */
    }
}

@media screen and (max-width: 768px) {
    .card {
        min-width: calc((100% - 40px) / 3);
        /* Three cards in a row on screens up to 768px */
    }
}

@media screen and (max-width: 480px) {
    .card {
        min-width: calc((100% - 40px));
        /* One card per row on screens up to 480px */
    }
}

.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ensure it takes the full width */
    height: 100vh;
    /* Assuming you want it to cover the entire viewport height */
}

.spinner-container {
    width: 80px;
    height: 80px;
    position: relative;
}

.loading-animation .spinner {
    width: 80px;
    height: 80px;
    border: 6px solid #d9c8c8;
    border-top: 6px solid #3a2de5;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}