.home_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 4%;
    gap: 1px;
    /* Adjust the gap between cards */
}

.card {
    min-width: calc((100% - 240px) / 3);
    /* Ensure minimum width for each card */
}

@media screen and (max-width: 1200px) {
    .card {
        min-width: calc((100% - 40px) / 3);
        /* Three cards in a row on screens up to 1200px */
    }
}

@media screen and (max-width: 768px) {
    .card {
        min-width: calc((100% - 40px) / 3);
        /* Three cards in a row on screens up to 768px */
    }
}

@media screen and (max-width: 480px) {
    .card {
        min-width: calc((100% - 40px));
        /* One card per row on screens up to 480px */
    }
}