.home_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 4%;
    gap: 1px;
}

.card {
    min-width: calc((100% - 240px) / 3);
}

@media screen and (max-width: 1200px) {
    .card {
        min-width: calc((100% - 40px) / 3);
    }
}

@media screen and (max-width: 768px) {
    .card {
        min-width: calc((100% - 40px) / 3);
    }
}

@media screen and (max-width: 480px) {
    .card {
        min-width: calc((100% - 40px));
    }
}

.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spinner-container {
    width: 80px;
    height: 80px;
    position: relative;
}

.loading-animation .spinner {
    width: 80px;
    height: 80px;
    border: 6px solid #d9c8c8;
    border-top: 6px solid #3a2de5;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}