.carousel-card {
    max-width: 400px;
    margin: 0 auto;
}

.carousel {
    position: relative;
    overflow: hidden;
    /* Hide overflow to prevent image overflow */
}

.carousel img {
    display: none;
    max-width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
    /* Add transition effect */
}

.carousel img.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.card {
    position: relative;
    /* Ensure absolute positioning within the card */
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
    width: 400px;
    height: 300px;
    margin-bottom: 2%;
    margin-left: 1.5%;
    overflow: hidden;

}


.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    padding: 3px;
    background-color: white;
    border-radius: 50%;

}

.card-image {
    object-fit: cover;
    height: 225px;
    /* Adjust height for the icons */
    width: 100%;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h4-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    flex-wrap: wrap;
}

.separator {
    margin: 0 1px;
    /* Adjust spacing between elements */
}

.separator {
    margin: 0 5px;
    /* Adjust spacing between elements */
}

.description-price {
    display: flex;
}

.description-price p {
    margin-right: 10px;
}

.checkmark-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
}